Debug
Release
*.exe
*.manifest
*.manifest.res
*.ilk
*.obj
*.pdb
*.htm
*.dep
*.idb
*.ncb
*.suo
*.user
*.aps
/SDK/Server/Core Run Test/coredb/coredb.ncb
/SDK/Server/Core Run Test/coredb/coredb.suo
/SDK/Server/Core Run Test/coredb/coredb.vcproj.HOK_XP.Administrator.user
/SDK/Server/Core Run Test/iocp server/server.ncb
/SDK/Server/Core Run Test/iocp server/server.suo
/SDK/Server/Core Run Test/iocp server/server.vcproj.HOK_XP.Administrator.user
/SDK/Server/Core/zwave_sdk_coredb/zwave_sdk_coredb.ncb
/SDK/Server/Core/zwave_sdk_coredb/zwave_sdk_coredb.suo
/SDK/Server/Core/zwave_sdk_coredb/zwave_sdk_coredb.vcproj.HOK_XP.Administrator.user
/SDK/Server/Core/zwave_sdk_linker/zwave_sdk_server_lib.ncb
/SDK/Server/Core/zwave_sdk_linker/zwave_sdk_server_lib.suo
/SDK/Server/Core/zwave_sdk_linker/zwave_sdk_server_lib.vcproj.HOK_XP.Administrator.user
/SDK/Server/Core/zwave_sdk_server/zwave_sdk_server.aps
/SDK/Server/Core/zwave_sdk_server/zwave_sdk_server.ncb
/SDK/Server/Core/zwave_sdk_server/zwave_sdk_server.suo
/SDK/Server/Core/zwave_sdk_server/zwave_sdk_server.vcproj.HOK_XP.Administrator.user
/SDK/Example/bins/XC_Client_Win32.exe
/SDK/Example/bins/XC_Client_Win32d.exe
/SDK/Example/bins/XC_Client_Win32d.ilk
/SDK/Example/bins/XC_Client_Win32d.pdb
/SDK/Example/bins/XC_Client_x64.exe
/SDK/Example/bins/XC_Client_x64.pdb
/SDK/Example/bins/XC_Client_x64d.exe
/SDK/Example/bins/XC_Client_x64d.ilk
/SDK/Example/bins/XC_Client_x64d.pdb
/SDK/Example/bins/XC_Server_Win32.exe
/SDK/Example/bins/XC_Server_Win32.pdb
/SDK/Example/bins/XC_Server_Win32d.exe
/SDK/Example/bins/XC_Server_Win32d.ilk
/SDK/Example/bins/XC_Server_Win32d.pdb
/SDK/Example/bins/XC_Server_x64.exe
/SDK/Example/bins/XC_Server_x64.pdb
/SDK/Example/bins/XC_Server_x64d.exe
/SDK/Example/bins/XC_Server_x64d.ilk
/SDK/Example/bins/XC_Server_x64d.pdb
/SDK/Example/bins/objs/XC_Client/Debug/BuildLog.htm
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client.obj
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_Win32d.exe.embed.manifest
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_Win32d.exe.embed.manifest.res
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_Win32d.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_x64d.exe.embed.manifest
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_x64d.exe.embed.manifest.res
/SDK/Example/bins/objs/XC_Client/Debug/XC_Client_x64d.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Client/Debug/mt.dep
/SDK/Example/bins/objs/XC_Client/Debug/vc90.idb
/SDK/Example/bins/objs/XC_Client/Debug/vc90.pdb
/SDK/Example/bins/objs/XC_Client/Release/BuildLog.htm
/SDK/Example/bins/objs/XC_Client/Release/XC_Client.obj
/SDK/Example/bins/objs/XC_Client/Release/XC_Client_Win32.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Client/Release/XC_Client_x64.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Client/Release/mt.dep
/SDK/Example/bins/objs/XC_Client/Release/vc90.idb
/SDK/Example/bins/objs/XC_Client/Release/vc90.pdb
/SDK/Example/bins/objs/XC_Server/Debug/BuildLog.htm
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server.obj
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_Win32d.exe.embed.manifest
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_Win32d.exe.embed.manifest.res
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_Win32d.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_x64d.exe.embed.manifest
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_x64d.exe.embed.manifest.res
/SDK/Example/bins/objs/XC_Server/Debug/XC_Server_x64d.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Server/Debug/mt.dep
/SDK/Example/bins/objs/XC_Server/Debug/vc90.idb
/SDK/Example/bins/objs/XC_Server/Debug/vc90.pdb
/SDK/Example/bins/objs/XC_Server/Release/BuildLog.htm
/SDK/Example/bins/objs/XC_Server/Release/XC_Server.obj
/SDK/Example/bins/objs/XC_Server/Release/XC_Server_Win32.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Server/Release/XC_Server_x64.exe.intermediate.manifest
/SDK/Example/bins/objs/XC_Server/Release/mt.dep
/SDK/Example/bins/objs/XC_Server/Release/vc90.idb
/SDK/Example/bins/objs/XC_Server/Release/vc90.pdb